/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
body{
    background-color: #f0f2f5;
}
header{
    display: inline-block;
}
/*Utilties*/
.square{
    height: 70%;
    width: 50%px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
}
.conteiner{
    height: 70%;
    width: 100%;
    display: inline;
}
