/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
body{
    background-color: #f0f2f5;
}
img{
    max-width: 270px;
}
p{
    padding-left: 10px;
    font-size: 27px;
    display: block;
    width: 400px;
}
h4{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
/*Selettori avanzati*/
#forgot_pass:hover{
    text-decoration: underline;
}
#black_link:hover{
    text-decoration: underline;
}
#input_register:hover{
    background-color: #30851f;
}
/*Utilties*/
.square{
    max-width: 500px;
    margin-top: 50px;
}

.square2{
    background-color: white;
    border-radius: 8px;
    padding-bottom: 2px;
    padding-top: 23px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 -1px 0 0 rgb(240, 240, 240); 
    box-shadow: 1px 0 0 0 rgb(240, 240, 240); 
    box-shadow: 0 1px 0 0 rgb(240, 240, 240); 
    box-shadow: -1px 0 0 0 rgb(240, 240, 240); 
    box-shadow: 0 0 0 1px rgb(240, 240, 240);
    box-shadow: -1px -1px rgb(236, 236, 236), -1em 0 0.4em rgb(237, 237, 237);
}
.conteiner1{
    max-width: 1000px;
    margin: 0 auto;
    border: solid red 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 155px;
    padding-bottom: 155px;

}
.input_text{
    margin-top: 15px;
    margin: 0 auto;
    color: fieldtext;
    color: #1c1c1c;
    padding-left: 10px;
    font-size: 16px;
    display: block;
}
.input_weight{
    width: 380px;
    height: 45px;
    border: solid rgb(218, 218, 218) 1px;
    border-radius: 5px;
    
}
.grey_line{
    background-color: rgb(218, 218, 218);
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 21px;
    height: 1px;
    width: 380px;
    justify-content: center;
}
.commercial_page{
    margin-top: 35px;
    text-align: center;
}
/*Section*/
#input_login{
    margin-top: 15px;
    margin: 0 auto;
    width: 380px;
    height: 45px;
    border: solid #1877f2 1px;
    border-radius: 5px;
    display: block;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
#forgot_pass{
    text-align: center;
    text-decoration: none;
    color: #188cf5;
    display: block;
    font-size: 17px;
}
#input_register{
    width: 240px;
    height: 45px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    background-color: #42b72a;
    border: solid #42b72a 1px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    margin-bottom: 20px;
}
#black_link{
    display: inline;
    text-decoration: none;
    color: black;
    font-weight: bold;

}