/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
body{
    background-color: #f0f2f5;
}
img{
    max-width: 270px;
}
p{
    padding-left: 10px;
    font-size: 35px;
    display: block;
    width: 400px;
}
#forgot_pass:hover{
    text-decoration: underline;
}
/*Utilties*/
.square{
    max-width: 500px;
    border: solid black;
}
.square2{
    background-color: white;
    border-radius: 8px;
    border: solid black;

}
.conteiner1{
    max-width: 1000px;
    margin: 0 auto;
    border: solid red 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.input_text{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: fieldtext;
    color: #1877f2;
    padding-left: 10px;
    font-size: 16px;
}
.input_weight{
    width: 400px;
    height: 45px;
    border: solid rgb(218, 218, 218) 1px;
    border-radius: 5px;
    
}
.grey_line{
    background-color: rgb(218, 218, 218);
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    width: 400px;
    justify-content: center;
}
/*Section*/
#input_login{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: 400px;
    height: 45px;
    border: solid #1877f2 1px;
    border-radius: 5px;
    display: block;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
#forgot_pass{
    text-align: center;
    text-decoration: none;
    color: #188cf5;
    display: block;
    font-size: 17px;
}
#input_register{
    width: 250px;
    height: 45px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 19px;
    background-color: #42b72a;
    border: solid #42b72a 1px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    margin-bottom: 20px;

}
